/*font*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: "Playfair Display", serif;
}
nav {
  background-color: #0E1B2A;
  color: #fff;
  position: sticky;
  z-index: 100;
  top: 0;
}
.header {
  width: 1024px;
  margin: auto;
  padding: 20px 0px 20px 0px;
}
nav > .header {
  display: flex;
  justify-content: space-between;
  font-size: 32px;
  align-items: center;
}
.menu {
  width: 30%;
}
.menu > ul > li > a {
  text-decoration: none;
  color: #fff;
}
.menu > ul {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
.logo > img {
  height: 70px;
}
/*Hero Section*/
header {
  background: url("image/background.jpg");
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; /*agar background tidak terulang*/
  position: relative;
}
.hero-opacity {
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
}
.hero {
  width: 100%;
  height: 100%;
  position: absolute;
  align-items: center;
}
