{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradients(to bottom,light blue,purple);
  padding-top: 60px; /* untuk header fixed */
}
#main {
  text-align: center;
}
