/*font*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: "Playfair Display", serif;
}
nav {
  background: linear-gradient(180deg, #0F172A, #0B1220);
  color: #fff;
  position: sticky;
  z-index: 100;
  top: 0;
  border-bottom: 2px solid rgba(117, 78, 225, 0.8);
  box-shadow: -3px 10px 20px #6622bf;
}
.logo {
  display: flex;
  align-items: center;
}
.logo > a > img {
  height: 50px;
}
.header {
  width: 1024px;
  margin: auto;
  padding: 25px 0px 25px 0px;
}
nav > .header {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  align-items: center;
}
.menu {
  width: 30%;
}
.menu > ul > li > a {
  text-decoration: none;
  color: #fff;
}
.menu > ul {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  justify-content: space-around;
}
/*Hero Section*/
header {
  background: url("image/background.jpg");
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; /*agar background tidak terulang*/
  position: relative;
}
.hero-opacity {
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
}
.hero {
  display: flex;
  color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}
.hero > h1 {
  font-size: 50px;
  transform: translateY(-5px);
}
/*animation for hero*/
.hero > h1 {
  animation: float 3s linear infinite;
}
@keyframes float {
  from {
    transform: rotate(0deg) translateY(-5px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateY(-5px) rotate(-360deg);
  }
}
.scroll {
  display: flex;
  width: 100%;
  height: 100%;
  font-size: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: #fff;
  padding: 60px 0px;
}
.scroll {
  animation: down 1s linear infinite;
}
@keyframes down {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(5px);
  }
}
/*contact section*/
footer {
  display: flex;
  background: linear-gradient(180deg,#0F172A,#020617);
  width: 100%;
  height: 200px;
  margin: auto;
  position: relative;
}
.footer > h1 {
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  text-shadow: 0px 0px 5px #6622bf, 0px 0px 8px #d069f5, 0px 0px 13px #e2a8f7;
}
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  padding: 70px 0px;
  gap: 10px;
}
.contact > a > img {
  height: 50px;
}
.power {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #fff;
  font-size: 9px;
  gap: 8px;
  padding-block-start: 100px;
}
.power > a > img {
  height: 25px;
}