{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  background-color: linear-gradient(#03c2fc,#9003fc);
  color: #333;
  padding-top: 60px; /* untuk header fixed */
}
